@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
#head {
  width: 100%;
  height: 40vh;
  background: url("../../public/images/image-hero-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  #head {
    height: 45vh;
  }
}
@media screen and (max-width: 480px) {
  #head {
    background: url("../../public/images/image-hero-mobile.jpg");
    height: 50vh;
    background-size: cover;
  }
}

nav {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9rem;
  position: relative;
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  nav {
    padding: 2rem 7rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  nav {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 480px) {
  nav {
    padding: 1rem 2rem;
  }
}
nav #logo {
  font-size: 24px;
  font-weight: 700;
  z-index: 1;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  nav #logo {
    font-size: 22.4px;
  }
}
@media screen and (max-width: 480px) {
  nav #logo {
    font-size: 24px;
  }
}
nav #logo:hover {
  cursor: pointer;
}
nav #nav-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
nav #nav-items ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  nav #nav-items ul li a {
    margin-left: 1.4rem;
    font-size: 14px;
    font-weight: 500;
  }
}
nav #nav-items ul li a:hover {
  cursor: pointer;
}
nav #mobile-nav-items .menu-overall {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
nav #mobile-nav-items .mobile-nav-btn {
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}
nav #mobile-nav-items .mobile-nav-btn img {
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(11%) saturate(1222%) hue-rotate(99deg) brightness(109%) contrast(110%);
}
nav #mobile-nav-items .mobile-nav-btn-close {
  width: 2rem;
  height: 1.5rem;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
nav #mobile-nav-items .mobile-nav-btn-close img {
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(11%) saturate(1222%) hue-rotate(99deg) brightness(109%) contrast(110%);
}
nav #mobile-nav-items ul#mobile-nav-items-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background: white;
  width: 80vw;
  left: 10vw;
  top: 5rem;
  border-radius: 10px;
  z-index: 1;
}
@media screen and (max-width: 400px) {
  nav #mobile-nav-items ul#mobile-nav-items-list {
    top: 3.5rem;
  }
}
nav #mobile-nav-items ul#mobile-nav-items-list li {
  padding: 1.4rem 1.5rem;
}
nav #mobile-nav-items ul#mobile-nav-items-list li:not(:last-child) {
  border-bottom: solid 1px #e7e6e6;
}
nav #mobile-nav-items ul#mobile-nav-items-list li:hover {
  cursor: pointer;
}
nav #mobile-nav-items ul#mobile-nav-items-list li a {
  font-size: 16px;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  font-weight: 700;
}

main {
  width: 55%;
  margin: auto;
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  main {
    width: 65%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  main {
    width: 75%;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  main {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  main {
    width: 90%;
  }
}

.cta {
  padding: 3.5rem 3rem 3rem;
  text-align: center;
  margin-top: -7rem;
  background: white;
  border-radius: 10px;
  border: solid 1px #f1eeee;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .cta {
    padding: 3rem 2rem 2.5rem;
    margin-top: -5rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .cta {
    padding: 2.5rem 1.8rem 2.2rem;
    margin-top: -4rem;
  }
}
@media screen and (max-width: 480px) {
  .cta {
    padding: 2.2rem 1.5rem 2rem;
    margin-top: -3rem;
  }
}
.cta .cta-logo {
  width: 5rem;
  border-radius: 50%;
  margin: -6rem auto 0;
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .cta .cta-logo {
    width: 4.7rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .cta .cta-logo {
    width: 4.6rem;
    margin: -5.5rem auto 0;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .cta .cta-logo {
    width: 4.5rem;
    margin: -5rem auto 0;
  }
}
@media screen and (max-width: 480px) {
  .cta .cta-logo {
    width: 4rem;
    margin: -4.2rem auto 0;
  }
}
.cta .cta-logo img {
  width: 100%;
}
.cta h1 {
  font-size: 28.8px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .cta h1 {
    font-size: 22.4px;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .cta h1 {
    font-size: 20.8px;
  }
}
@media screen and (max-width: 480px) {
  .cta h1 {
    font-size: 19.2px;
  }
}
.cta p.cta-para {
  font-size: 16px;
  color: hsl(0, 0%, 48%);
  line-height: 1.5rem;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .cta p.cta-para {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .cta p.cta-para {
    font-size: 14px;
  }
}
.cta .cta-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .cta .cta-btns {
    margin-top: 2.2rem;
  }
}
@media screen and (max-width: 480px) {
  .cta .cta-btns {
    margin-top: 1.5rem;
  }
}
.cta .cta-btns .cta-bookmark {
  position: relative;
  padding: 1.4rem 2rem 1.5rem 3.6rem;
  border-radius: 50px;
  background: rgb(244, 244, 244);
  color: hsl(0, 0%, 48%);
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .cta .cta-btns .cta-bookmark {
    padding: 1.3rem 1.6rem 1.3rem 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .cta .cta-btns .cta-bookmark {
    padding: 0;
    position: static;
  }
}
.cta .cta-btns .cta-bookmark:hover {
  color: hsl(176, 72%, 28%);
  background: rgb(244, 248, 249);
  cursor: pointer;
}
.cta .cta-btns .cta-bookmark:hover button {
  background-image: url("../../public/images/icon-bookmark2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cta .cta-btns .cta-bookmark div {
  font-weight: 700;
  font-size: 17.6px;
  width: 100%;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .cta .cta-btns .cta-bookmark div {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .cta .cta-btns .cta-bookmark div {
    display: none;
  }
}
.cta .cta-btns .cta-bookmark button {
  position: absolute;
  left: -2rem;
  top: -2px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  width: 4.2rem;
  height: 4.2rem;
  border: none;
  outline: none;
  background-image: url("../../public/images/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .cta .cta-btns .cta-bookmark button {
    width: 3.9rem;
    height: 3.9rem;
  }
}
@media screen and (max-width: 480px) {
  .cta .cta-btns .cta-bookmark button {
    position: static;
    width: 3.8rem;
    height: 3.8rem;
    margin-left: 1rem;
  }
}
.cta .cta-btns .cta-bookmark button:active {
  outline: none;
}
.cta .cta-btns .active {
  color: hsl(176, 72%, 28%);
  background: rgb(244, 248, 249);
  cursor: pointer;
}
.cta .cta-btns .active button {
  background-image: url("../../public/images/icon-bookmark2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cta .cta-btns .bookmark-active {
  color: hsl(176, 72%, 28%);
  background: rgb(244, 248, 249);
  cursor: pointer;
}
.cta .cta-btns .bookmark-active button {
  background-image: url("../../public/images/icon-bookmark2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button.cta-back-btn {
  border: none;
  padding: 0.5rem 3rem;
  background: hsl(176, 50%, 47%);
  color: white;
  font-size: 16px;
  border-radius: 50px;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 500;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  button.cta-back-btn {
    font-size: 15.4px;
    padding: 0.4rem 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  button.cta-back-btn {
    font-size: 14px;
    padding: 0.4rem 2.3rem;
    white-space: nowrap;
  }
}
button.cta-back-btn:active {
  outline: none;
}
button.cta-back-btn:hover {
  background: hsl(176, 72%, 28%);
  cursor: pointer;
}

#info {
  padding: 3rem;
  margin: 2rem auto;
  border-radius: 10px;
  border: solid 1px #f1eeee;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  #info {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  #info {
    padding: 1.5rem;
    margin: 1.5rem auto;
  }
}

.info-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 7rem 3rem 0;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .info-data {
    margin: 0 4rem 3rem 0;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .info-data {
    margin: 0 2rem 3rem 0;
  }
}
@media screen and (max-width: 480px) {
  .info-data {
    flex-direction: column;
    justify-content: center;
    margin: 0 0 2rem 0;
  }
}
.info-data .info-backers {
  padding: 0 2rem;
  border-left: solid 1px #f1eeee;
  border-right: solid 1px #f1eeee;
}
.info-data div {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .info-data div:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .info-data div {
    align-items: center;
  }
}
.info-data div .number {
  margin-bottom: 1rem;
  font-size: 28.8px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .info-data div .number {
    font-size: 22.4px;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .info-data div .number {
    font-size: 20.8px;
  }
}
@media screen and (max-width: 480px) {
  .info-data div .number {
    font-size: 19.2px;
  }
}
.info-data div .text {
  font-size: 16px;
  color: hsl(0, 0%, 48%);
}
@media screen and (max-width: 768px) {
  .info-data div .text {
    font-size: 14px;
  }
}

.info-bar {
  padding: 0;
  height: 1rem;
  width: 100%;
  background: #f5f5f5;
  border-radius: 15px;
}
.info-bar .info-percent-bar {
  margin: 0;
  height: 100%;
  background-color: hsl(176, 50%, 47%);
  border-radius: 15px;
}

.about {
  padding: 3rem;
  border: solid 1px #f1eeee;
}

button:active,
button:focus {
  border: 0;
  outline: 0;
}

.header2 {
  font-size: 24px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .header2 {
    font-size: 22.4px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header2 {
    font-size: 19.2px;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .header2 {
    font-size: 17.6px;
  }
}
@media screen and (max-width: 480px) {
  .header2 {
    font-size: 16px;
  }
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 0%, 48%);
  line-height: 175%;
}

.about-text-sm {
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 48%);
  line-height: 175%;
}

.reward-container {
  margin: 2.5rem 0 0 0;
  padding: 0;
}

.reward {
  padding: 2rem;
  border: solid 1px #f1eeee;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.reward-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 550px) {
  .reward-head {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header3 {
  font-size: 19.2px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .header3 {
    font-size: 17.6px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header3 {
    font-size: 17.6px;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .header3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .header3 {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 480px) {
  .header3 {
    font-size: 15px;
  }
}

.pledge {
  font-weight: 500;
  color: hsl(176, 50%, 47%);
}
@media screen and (max-width: 550px) {
  .pledge {
    margin: 0;
  }
}

.reward-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
@media screen and (max-width: 550px) {
  .reward-action {
    flex-direction: column;
    align-items: flex-start;
  }
}
.reward-action .stock-left {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 550px) {
  .reward-action .stock-left {
    margin-bottom: 2rem;
  }
}
.reward-action .stock-left .left-num {
  font-size: 32px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
  margin: auto 0.5rem auto auto;
}

.reward-select {
  border: none;
  padding: 1.2rem 2rem;
  background: hsl(176, 50%, 47%);
  color: white;
  font-size: 16px;
  border-radius: 50px;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 500;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .reward-select {
    font-size: 15.4px;
    padding: 1.1rem 1.9rem;
  }
}
@media screen and (max-width: 480px) {
  .reward-select {
    font-size: 14px;
    padding: 1rem 2rem;
    white-space: nowrap;
  }
}
.reward-select:active {
  outline: none;
}
.reward-select:hover {
  background: hsl(176, 72%, 28%);
  cursor: pointer;
}

.out-of-stock {
  padding: 2rem;
  border: solid 1px #f1eeee;
  opacity: 0.5;
}
.out-of-stock .reward-select {
  background: #8a8989;
}

.backmodel-out {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  bottom: 0;
  overflow-y: auto;
}
.backmodel-out .backmodel-container {
  width: 55%;
  background: white;
  padding: 2rem 3rem;
  height: auto;
  max-height: 100vh;
  overflow-y: auto;
  border-radius: 5px;
  /* width */
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .backmodel-out .backmodel-container {
    width: 65%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .backmodel-out .backmodel-container {
    width: 75%;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .backmodel-out .backmodel-container {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .backmodel-out .backmodel-container {
    width: 90%;
  }
}
.backmodel-out .backmodel-container::-webkit-scrollbar {
  width: 5px;
}

#close-backmodel {
  float: right;
}

.backmodel-container .reward,
.backmodel-container .out-of-stock {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.backmodel-container .reward-active {
  border: solid 1px hsl(176, 72%, 28%);
}

.check-input {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-bottom: 1.2rem;
}
@media screen and (max-width: 600px) {
  .check-input {
    margin-bottom: 2rem;
  }
}
.check-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-input .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  border: solid 1px #d1cece;
}
.check-input:hover input ~ .checkmark {
  background-color: #f1eeee;
}
.check-input input:checked ~ .checkmark {
  background-color: white;
}
.check-input .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-input .checkmark:after {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: hsl(176, 50%, 47%);
}
.check-input input:checked ~ .checkmark:after {
  display: block;
}

.backmodel-wrapper {
  padding: 1.5rem 1rem;
}
@media screen and (max-width: 768px) {
  .backmodel-wrapper {
    padding: 2rem;
  }
}

.backmodel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backmodel-header .backmodel-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  flex: 1;
}
.backmodel-header .backmodel-header-right .backmodel-titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .backmodel-header .backmodel-header-right .backmodel-titles {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .backmodel-header .backmodel-header-right .backmodel-titles .header3 {
    margin: 0;
    white-space: nowrap;
  }
}
.backmodel-header .backmodel-header-right .backmodel-titles .pledge {
  margin-left: 1rem;
  color: hsl(176, 72%, 28%);
  font-weight: 700;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .backmodel-header .backmodel-header-right .backmodel-titles .pledge {
    margin: 1rem 0 0 0;
  }
}

.backmodel-left {
  display: flex;
  justify-content: flex-end;
}
.backmodel-left .backmodel-left-num {
  font-weight: 700;
}
.backmodel-left .backmodel-left-num {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .left-before {
    display: none;
  }
}
.backmodel-text {
  margin-left: 3rem;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .backmodel-text {
    margin: 1.2rem 0 0 0;
  }
}

.left-after {
  width: 100%;
  text-align: left;
  justify-content: flex-start;
  margin-top: 1.5rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .left-after {
    display: flex;
  }
}

.pay-pledge {
  width: 100%;
  border-top: solid 2px #f1eeee;
}
.pay-pledge .pay-wrapper {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .pay-pledge .pay-wrapper {
    padding: 2rem;
    flex-direction: column;
  }
}
.pay-pledge .pay-text {
  font-size: 16px;
  color: hsl(0, 0%, 48%);
}
.pay-pledge .pay-action {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .pay-pledge .pay-action {
    margin-top: 1.8rem;
  }
}
.pay-pledge .pay-action .pay-input {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  margin-right: 1.2rem;
}
.pay-pledge .pay-action .pay-input input {
  padding: 1rem 1rem 1rem 2.2rem;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  border: solid 3px #f1eeee;
  width: 7rem;
}
.pay-pledge .pay-action .pay-input input:focus, .pay-pledge .pay-action .pay-input input:hover {
  outline: hsl(176, 72%, 28%);
}
.pay-pledge .pay-action .pay-input span {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 1.5rem;
  font-size: 16px;
  font-weight: 700;
  color: hsl(0, 0%, 48%);
  transform: translate(-50%, -50%);
}
.pay-pledge .pay-action .cta-back-btn {
  padding: 1rem 1.5rem;
}
.pay-pledge .pay-action .cta-back-btn:hover {
  cursor: pointer;
  background: hsl(176, 72%, 28%);
}

.thank-model .thank-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2.5rem;
  color: white;
  border-radius: 10px;
  background: white;
  height: auto;
  max-height: 100vh;
  overflow-y: auto;
  width: 40%;
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .thank-model .thank-container {
    width: 50%;
    padding: 3.3rem 2.2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .thank-model .thank-container {
    width: 60%;
    padding: 3.1rem 2rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .thank-model .thank-container {
    width: 75%;
    padding: 3rem 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  .thank-model .thank-container {
    width: 85%;
    padding: 2.5rem 1.5rem;
  }
}

.header {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(176, 50%, 47%);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  font-size: 3rem;
  margin-bottom: 1.8rem;
  font-weight: 700;
}
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .header {
    padding: 1.3rem 1.8rem;
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header {
    padding: 1.1rem 1.5rem;
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .header {
    padding: 1rem 1.3rem;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding: 1rem 1.3rem;
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}

.body {
  text-align: center;
}
.body .header1 {
  color: hsl(0, 0%, 0%);
}
.body .thank-text {
  font-size: 1.2rem;
  color: hsl(0, 0%, 48%);
  line-height: 1.8;
  margin-bottom: 3rem;
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
  .body .thank-text {
    font-size: 16px;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .body .thank-text {
    font-size: 16px;
    margin-bottom: 1.5rem;
  }
}
.body .cta-back-btn {
  padding: 1.5rem 3rem;
}
@media screen and (max-width: 1200px) and (min-width: 769px) {
  .body .cta-back-btn {
    padding: 1.2rem 2.6rem;
  }
}
@media screen and (max-width: 768px) {
  .body .cta-back-btn {
    padding: 1.1rem 2.3rem;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  transition: all 0.3s;
}/*# sourceMappingURL=index.css.map */