// VARIABLES

// COLORS
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$pale: #f1eeee;

// TYPOGRAPHY
$font-size: 16px;
$font-size-small: 14px;
$font-family: "Commissioner", sans-serif;
$font-weight1: 400;
$font-weight2: 500;
$font-weight3: 700;
